<div>
    <h1 class="titulo">Biblioteca Online</h1>

    <div [formGroup]="livroForm" (ngSubmit)="onSubmit()">


        <label class="label"><strong>Título:</strong></label>
        <input name="titulo" value={{selectedBookById.titulo}} disabled>

        <label class="label"><strong>Descrição:</strong></label>
        <input name="descricao" value={{selectedBookById.descricao}} disabled>

        <label class="label"><strong>Valor:</strong></label>
        <input name="preco" value={{selectedBookById.preco}} disabled><br>

        <button class="button2" (click)="deletarLivro()"><strong>Deletar</strong></button>

        <button routerLink="">Voltar</button>
    </div>
</div>
<footer>
    Desenvolvido por Marcos Júnior SC3003302
</footer>