<div>
  <h1 class="titulo">Biblioteca Online</h1>

  <div [formGroup]="livroForm" (ngSubmit)="onSubmit()">

    <label class="label" for=""><strong>Título:</strong></label>
    <input formControlName="titulo" class="input" type="text">

    <label class="label" for=""><strong>Descrição:</strong></label>
    <textarea formControlName="descricao" class="textarea" type="textarea" rows="6" cols="50"></textarea>

    <label class="label" for=""><strong>Valor:</strong></label>
    <input formControlName="preco" class="input" type="number"><br>

    <button class="button1" (click)="novoLivro()"><strong>Confirmar</strong></button>
    <button class="button2" routerLink="">Voltar</button>

  </div>
</div>

<footer>
  Desenvolvido por Marcos Júnior SC3003302
</footer>