<div>
  <h1 class="titulo">Biblioteca Online</h1>

  <h3 class="subtitulo" *ngIf="listaLivro.length > 0">Livros Cadastrados:</h3>
  <h3 class="subtitulo-alert" *ngIf="listaLivro.length == 0">Nenhum Livro Cadastrado!</h3>

  <table>
    <tr class="headerLine">
      <th class="columns">Título</th>
      <th class="columns">Descrição</th>
      <th class="columns">Preço</th>
      <th class="column-price" colspan="2">Ações</th>
    </tr>
    <tr class="column" *ngFor="let livro of listaLivro">
      <td>{{livro.titulo}}</td>
      <td>{{livro.descricao}}</td>
      <td>{{livro.preco | currency}}</td>
      <td><button class="alterar-button" routerLink="/alterar/{{ livro._id }}">Alterar</button></td>
      <td><button class="deletar-button" routerLink="/deletar/{{ livro._id }}">Deletar</button></td>
    </tr>
  </table>
  <br />
  <button routerLink="/cadastro">Novo Cadastro</button>
</div>
<footer>
  Desenvolvido por Marcos Júnior SC3003302
</footer>