.titulo {
  font-family: arial;
  font-size: 30px;
  text-align: center;
}

.subtitulo { 
  font-family: arial;
  font-size: 25px;
  text-align: center;
  color: grey
}

.subtitulo-alert { 
  font-family: arial;
  font-size: 25px;
  text-align: center;
  color: red;
}

table { 
  font-family: arial;
  font-size: 20px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  outline: 0.2px solid black;
  inline-size: 100%;
  outline-offset: 0px;
}

.column {
  font-family: arial;
  font-size: 15px;
  width: 350px;
  text-align: left;
}

.headerLine {
  background-color: blueviolet;
  color: white;
  height: 30px;
}

tr:hover {
  background-color: gray;
}

button {
  font-family: arial;
  font-size: 15px;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  background-color: white;
}


footer{
  font-family: arial;
  font-size: 15px;
  color: black;
  text-align: right;
  background: gainsboro;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}